
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body,
#root,
.app {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Seasons';
    src: url('./fonts/Fontspring-DEMO-theseasons-reg.otf');
}
